---
import { getCollection, getEntry } from "astro:content";

import Layout from "../../layouts/HomeLayout.astro";
import Section from "../common/Section.astro";
import Hero from "../widgets/Hero.astro";
import Experience from "../widgets/Experience.astro";
import Bento from "../widgets/Bento.astro";
import Research from "../widgets/Research.astro";
import Talks from "../widgets/Talks.astro";

const experienceSection = await getEntry("sections", "experience");
const projectsSection = await getEntry("sections", "projects");
const publicationsSection = await getEntry("sections", "publications");
const talksSection = await getEntry("sections", "talks");

const projects = await getCollection("projects");
const publications = await getCollection("publications");
const talks = await getCollection("talks");
---

<Layout>
  <main class="mx-auto flex w-9/12 flex-col gap-y-16 lg:w-7/12">
    <Hero />
    <Section section={experienceSection}>
      <Experience />
    </Section>
    <Section section={projectsSection}>
      <Bento list={projects} />
    </Section>
    <Section section={publicationsSection}>
      <Research publications={publications} />
    </Section>
    <Section section={talksSection}>
      <Talks talks={talks} />
    </Section>
  </main>
</Layout>
