---
import { getCollection, getEntry } from "astro:content";

import Layout from "../../layouts/HomeLayout.astro";
import Section from "../common/Section.astro";
import Hero from "../widgets/Hero.astro";
import Experience from "../widgets/Experience.astro";
import Bento from "../widgets/Bento.astro";

const experienceSection = await getEntry("sections", "experience");
const projectsSection = await getEntry("sections", "projects");
const talksSection = await getEntry("sections", "talks");

const projects = await getCollection("projects");
const talks = await getCollection("talks");
---

<Layout>
  <main class="mx-auto flex w-4/5 flex-col gap-y-16">
    <Hero />
    <Section section={experienceSection}>
      <Experience />
    </Section>
    <Section section={projectsSection}>
      <Bento list={projects} />
    </Section>
    <Section section={talksSection}>
      <Bento list={talks} />
    </Section>
  </main>
</Layout>
