---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import { render } from "astro:content";

import Tag from "./Tag.astro";
import Bullets from "./Bullets.astro";

interface Props {
  listItem: any;
}

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}",
);

const { listItem } = Astro.props;
const { data } = listItem;
const { name, featured, image, technologies, url } = data;

const { Content } = await render(listItem);

export const prerender = true;
---

<li
  class={`
    relative
    flex flex-col
    rounded-xl
    overflow-hidden
    border border-slate-100 dark:border-slate-800
    group
    col-span-1
    ${featured ? "md:col-span-2 lg:col-span-2" : ""}
  `}
>
  <Tag text={featured ? "Featured" : "Happy Accident"} class="absolute" />
  <a href={url} class="h-2/5">
    <Image
      src={images[image]()}
      alt={name}
      class="h-full w-full object-cover"
    />
  </a>
  <div class="m-0 flex flex-col gap-3 p-2">
    <h2 class="text-3xl">{name}</h2>
    <p class="prose text-lg">
      <Content />
    </p>
    <Bullets bullets={technologies} />
  </div>
</li>
