---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import Tag from "./Tag.astro";
import Bullets from "./Bullets.astro";

interface Props {
  listItem: any;
}

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}",
);

const { listItem } = Astro.props;
const { data } = listItem;
const { name, featured, description, image, technologies, url } = data;

export const prerender = true;
---

<a
  class={`
    relative
    rounded-xl
    overflow-hidden
    border border-slate-100 dark:border-slate-800
    group
    col-span-1
    ${featured ? "md:col-span-2 lg:col-span-2" : ""}
  `}
  href={url}
>
  <Image
    src={images[image]()}
    alt={description}
    class={`
    h-full w-full object-cover
    transition-scale
    duration-1000 ease-in-out group-hover:scale-110
  `}
  />
  <div
    class={`
      absolute
      top-0
      flex flex-col items-center justify-center gap-4
      h-full w-full
      px-5 py-20
      text-center
      bg-slate-200 bg-opacity-90 dark:bg-slate-800 dark:bg-opacity-90
    `}
  >
    <Tag text={featured ? "Featured" : "Happy Accident"} />
    <h2 class="text-3xl">{name}</h2>
    <p class="text-lg">{description}</p>
    <Bullets bullets={technologies} />
  </div>
</a>
