---
import { Icon } from "astro-icon/components";

import type { CollectionEntry } from "astro:content";

import DownloadButton from "./DownloadButton.astro";
import SecondaryButton from "./SecondaryButton.astro";

interface Props {
  publication: CollectionEntry<"publications">;
}

const { publication } = Astro.props;
const { data } = publication;
const { title, authors, date, doi, book, conference, featured, path } = data;

export const prerender = true;
---

<li class="inline-flex gap-3">
  <p class="mt-1 text-xl">
    <Icon name="ph:file-text" />
  </p>
  <div class="flex flex-col gap-3">
    <p class="text-xl">
      "{title}",
      {authors.map((author) => `${author}, `)}
      <span class="text-slate-600 dark:text-slate-400">
        In <span class="italic">{book}</span>,
        {conference},
        {date}
      </span>
      .
    </p>
    <div class="inline-flex items-center gap-2">
      <SecondaryButton href={doi}>DOI</SecondaryButton>
      <DownloadButton href={path} />
    </div>
  </div>
</li>
