---
import { Icon } from "astro-icon/components";

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import { render, type CollectionEntry } from "astro:content";

export interface Props {
  experience: CollectionEntry<"experience">;
}

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}",
);

const { experience } = Astro.props;
const { data } = experience;
const { company, job, startMonth, startYear, endMonth, endYear, logo } = data;

const { Content } = await render(experience);

export const prerender = true;
---

<li class="accordion flex gap-4">
  <Image
    src={images[logo]()}
    alt={job}
    class="dark:bg-foreground size-12 rounded-full border object-contain"
  />
  <div
    class={`
    accordion-button
    group
    flex-col items-center grow
    cursor-pointer select-none
  `}
  >
    <div class="flex items-center justify-between">
      <h3 class="inline-flex items-center text-xl">
        {company}
        <Icon
          name="ph:caret-right"
          aria-hidden="true"
          class={`
            accordion-caret
            size-4
            transition-all duration-300 ease-out
            opacity-0 group-hover:opacity-100
            group-hover:translate-x-1
          `}
        />
      </h3>
      <p class="text-lg">
        {
          `
          ${startMonth.substring(0, 3)} ${startYear}
          -
          ${endMonth ? endMonth.substring(0, 3) : "Present"} ${endYear ? endYear : ""}
          `
        }
      </p>
    </div>
    <p class="text-lg">{job}</p>
    <div class="accordion-content hidden">
      <Content />
    </div>
  </div>
</li>
